#footer{
    position: relative;
    font-weight: 100;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding: 10px 20px;
    .footer__filter{
        button{
            font-weight: 100;
            outline: none;
            &:hover{
                border: 1px solid rgba(175, 47, 47, 0.15);
            }
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }

    .active{
        border: 1px solid rgba(175, 47, 47, 0.15);
    }

    .footer__clear-btn{
        cursor: pointer;
        outline: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .page{
        position: absolute;
    }
}